.dashboard-container{
    max-width:1280px;
    margin:auto;
    padding-inline:24px;
}

/* =======================================================
   Page Layout
======================================================= */

.page-content{
    padding-top:120px;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:24px;

}

/* ==========================================
   Page Wrapper
========================================== */

.page-wrapper{
    max-width:1000px;
    margin:0 auto;
    padding:70px 24px;
}

/* ==========================================
   Page Content
========================================== */


body{
    background:

    radial-gradient(
        circle at top left,
        rgba(247,147,26,.3),
        transparent 45%
    ),

    radial-gradient(
        circle at top right,
        rgba(109,92,255,.14),
        transparent 25%
    ),



    radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.55),
        transparent 70%
    ),
    
    #F4F6F8;
    
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;

}